<footer class="footer">
    <div class="rights">© Все права защищены 2023<br>Сайт создан никем для ничего</div>
    <div class="privacy-politics"><a href="/privacy">Политика конфиденциальности</a></div>
    <div class="links">
        <a href="https://vk.com" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
        <a href="https://web.telegram.org" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>
</footer>
