<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>
<body>
    <div class="loading">
        <div id="spinner"></div>
    </div>
    <div class="box">
        <%- include('./components/header.ejs') %>
        <main>
            <h1>О сервисе</h1>
            <div class="main__container">
                <div class="main__col">
                    <h3 class="main__title">Возможности</h3>
                    <p class="main__paragraph">
                        Сервис даёт возможность создавать, перемещать, редактировать заметки, а также делить заметки на отдельные страницы. Вы можете загружать контент разного типа в качетсве содержимого заметки: аудио, видео, фото и текст. Вы можете также воспользоваться удобным набором иструментов форматирования карточек и фильтрами по категориям.
                    </p>
                    <h3 class="main__title">Как работает сервис</h3>
                    <p class="main__paragraph">
                        Сервис запоминает браузер с которого вы заходите на сайт (не компьютер, а именно браузер). Если вы что-то пишете, то Редактор создает уникальный идентификатор, который хранится в вашем браузере. При повторном заходе на сайт с этого же браузера, Редактор считывает данный идентификатор и показывает только ваши материалы. Соответственно, никто другой не может получить доступ к вашей информации (если конечно, кто-то не откроет через ваш компьютер и ваш браузер этот сайт).
                    </p>
                    <h3 class="main__title">Работа с cookie</h3>
                    <p class="main__paragraph">
                        Для сохранения данных в браузере пользователя использутся cookie-хранилище (уникальный токен пользователя, идентификатор страницы). Очистка кэша и файлов cookie навсегда удалит данные авторизации в браузере и идентификатора страницы. Убедитесь, что вы сохранили весь прогресс, перед тем как вышли с сайта.
                        <ul class="main__list">
                            <li class="main__list-item">Chrome - нажмите кнопку    в правом верхнем углу, выберите «История» в раскрывающемся меню и выберите «Очистить данные браузера».</li>
                            <li class="main__list-item">Firefox - нажмите клавишу Alt, чтобы сделать строку меню видимой. В меню «Журнал» выберите «Очистить недавнюю историю».</li>
                            <li class="main__list-item">Internet Explorer - щелкните значок шестеренки, выберите «Свойства обозревателя» и дождитесь появления диалогового окна. В разделе «История просмотров» нажмите кнопку «Удалить».</li>
                            <li class="main__list-item">Safari - Нажмите «Safari» в меню и выберите «Настройки» в раскрывающемся списке. Появится новое окно. Перейдите в раздел «Конфиденциальность» и нажмите кнопку «Удалить все данные веб-сайта».</li>
                        </ul>
                        В большинстве браузеров вы можете открыть меню для удаления файлов cookie, нажав клавиши Ctrl + Shift + Delete на ПК с Windows и Command + Shift + Delete для Mac. 
                    </p>
                </div>
                <div class="main__col">
                    <div class="main__image-container">
                        <img class="main__image" src="../resources/images/about-1.jpg" alt="image">
                    </div>
                    <div class="main__image-container">
                        <img class="main__image" src="../resources/images/about-2.jpg" alt="image">
                    </div>
                </div>      
            </div>
        </main>
    </div>
    <div class="modals-container"></div>
    <%- include('./components/footer.ejs') %>
    <%- include('./components/clientScripts.ejs') %>
</body>
</html>