<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>
<body> 
    <div id="error">
        <div>
            <span>404</span><br/>
            Page not found...
        </div>
        <button class="baseForm baseButton" onclick="window.location.href = '/'">Go to home page</button>
    </div>
</body>
</html>