<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>
<body>
    <div class="loading">
        <div id="spinner"></div>
    </div>
    <div class="box">
        <%- include('./components/header.ejs') %>
        <main>
            <h1 class="privacy-title">Политика конфиденциальности</h2>
            <article class="privacy__body">
                <p class="privacy__paragraph">
                    Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую «SQuotes» и/или его аффилированные лица, включая все лица, входящие в одну группу с «SQuotes», могут получить о Пользователе во время использования им любого из сайтов, сервисов, программ, продуктов или услуг Сервиса и в ходе исполнения Сервисом любых соглашений и договоров с Пользователем.
                </p>
                <p class="privacy__paragraph">
                    Согласие Пользователя с Политикой, выраженное им в рамках отношений с одним из перечисленных лиц, распространяется на все остальные перечисленные лица.
                </p>
                <p class="privacy__paragraph">
                    Использование Сервисов означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сервисов.
                </p>
                <p class="privacy__paragraph">
                    Сервис SQuotes.com может автоматически собирать навигационную информацию («Лог данные»), созданную посредством вашего использования Сервиса SQuotes.com. «Лог данные» могут включать в себя информацию, такую как тип браузера, операционная система, разрешение экрана, IP-адрес, местоположение, веб-страница перехода, посещенные страницы, или тому подобное. Сервис SQuotes.com автоматически получает «Лог данные», когда вы посещаете и взаимодействуете с Сервисом SQuotes.com, для обеспечения и улучшения Сервиса, для администрирования вашего пользования Сервисом SQuotes.com, и для того, чтобы дать возмоность вам наслаждаться и легко ориентироваться Сервисом SQuotes.com. Сервис SQuotes.com может использовать IP-адреса посетителей для борьбы со спамом и вредоносными программами. Сервис SQuotes.com использует «Google Analytics» для того, чтобы собирать, мониторить и анализировать «Лог данные» в целях повышения функциональности Сервиса SQuotes.com и удобства для пользователя, и для того, чтобы лучше приспособить Сервис к потребностям посетителей. Сервис SQuotes.com также использует эту информацию, чтобы убедиться, что посетители Сервиса удовлетворяют критериям, необходимым, чтобы обрабатывать свои запросы. «Google Analytics» имеет свою собственную политику конфиденциальности, доступную на <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>.
                </p>
                <p class="privacy__paragraph">
                    Если у вас есть любые вопросы по поводу этих условий или другой информации, пожалуйста, свяжитесь с помощью Формы обратной связи (<a href="/contact">http://localhost:8081/contact</a>).
                </p>
            </article>
        </main>
    </div>
    <div class="modals-container"></div>
    <%- include('./components/footer.ejs') %>
    <%- include('./components/clientScripts.ejs') %>
</body>
</html>